body{
    max-width: 1000px;
    margin: 0 auto;
}

.atas{
    display: flex;
    justify-content: space-between;
}

.judul {
    max-width: 700px;
}

.container{
    gap: 20px;
}

.textareaa{
    width: 1000px;
    height: 400px;
}

.hasil{
    background-color: black; 
    height: 400px; 
    width: 1000px;
    color: red; 
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    
}

.btnan{
    padding-top: 20px;
    padding-bottom: 40px;
}